<!DOCTYPE html>
<html>
<head>
    <title>Editing a note</title>
</head>
<body>
<h1>Editing a note</h1>
<!-- Форма редагування нотатки, відправляє дані на POST /note/edit -->
<form th:action="@{/note/edit}" method="post">
    <input type="hidden" name="id" th:value="${note.id}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="${note.title}">
    <br>
    <label for="content">Content:</label>
    <textarea id="content" name="content">${note.content}</textarea>
    <br>
    <input type="submit" value="Save">
</form>
<!-- Кнопка для повернення до списку нотаток на GET /note/list -->
<form th:action="@{/note/list}" method="get">
    <input type="submit" value="Back to list">
</form>
</body>
</html>
